body{
    box-sizing: border-box;
    background: linear-gradient(to right,#20002c,#cbb4d4);
}
.show-btn{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    background: rgba(255,255,255,.25);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input[type="checkbox"]{
    display: none;
}

.container{
    display:none ;
    width: 350px;
    padding: 20px;
    border-radius: 4px;
    background: rgba(255,255,255,.25);
    border: 2px solid rgba(255,255,255,.18);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#show:checked ~ .container{
    display: block;
}

.container .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}

.close-btn:hover{
    color: red;
}